body {
  background: #24766C;
  font-family: Quicksand;
  max-width: 100%;
  overflow-x: hidden;
}

#container {
  display: grid;
  grid-auto-rows: auto;
  place-items: stretch;
}

.row {
  display: grid;
  grid-gap: 8px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  padding: 8px;
  place-items: stretch;
}

.row:before {
  content: '';
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  padding-bottom: 100%;
  width: 0;
}

.row>*:first-child {
  grid-column-start: 1;
  grid-row-start: 1;
}

.rectangle {
  background: #64B6AC;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  display: grid;
  font-size: 18px;
  max-height: 500px;
  max-width: 500px;
  padding: 12px;
  place-items: center;
  position: relative;
  text-align: center;
  text-shadow: 0 0 2px black;
  transition: box-shadow .5s, opacity .5s;
  word-wrap: break-word;
}

.rectangle:hover:after {
  content: attr(data-hover);
  position: relative;
}

h2 {
  font-weight: 500;
  z-index: 10;
}

.rectangle:hover h2 {
  display: none;
}

.rectangle:hover .background {
  filter: none;
}

em.badge {
  background: #E86B68;
  border-radius: 14px;
  font-size: 14px;
  font-style: normal;
  height: 28px;
  line-height: 28px;
  padding: 2px 4px;
  position: absolute;
  right: -5px;
  text-transform: uppercase;
  top: -5px;
  transform: rotate(20deg);
  transform-origin: center middle;
}

em.badge:empty {
  display: none;
}

.dark {
  background: #006258;
}

.highlight {
  background: #66BCCC;
}

.small>h2 {
  font-size: 18px;
}

.highlight>h2 {
  font-weight: 600;
}

.w-2 {
  grid-column: span 2;
}

.h-2 {
  grid-row: span 2;
}

.background {
  border-radius: 8px;
  display: block;
  filter: grayscale(100%);
  height: 100%;
  opacity: .45;
  position: absolute;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .rectangle {
    background: #006258;
    color: #dfdfdf;
  }

  .dark {
    background: #3B8D83;
  }

  .highlight {
    background: #338999;
  }

  em.badge {
    background: #BF423F;
  }
}
